a.logo__link(href="/", title="ブログホーム")
  svg.logo__icon(
    role="img",
    xmlns="http://www.w3.org/2000/svg",
    width="45",
    height="35",
    viewBox="0 0 45 35"
  )
    title= blog_name
    path(
      d="M42 2C38.6225 15.8789 24.8863 32.9006 10.9241 32.9006C-3.03823 32.9006 0.84927 20.6129 12.507 25.5906C17.6213 27.7737 19.9019 32.0055 26.9552 33"
    )
