a.logo__link(href="/", title="ブログホーム")
  svg.logo__icon(
    role="img",
    xmlns="http://www.w3.org/2000/svg",
    width="45",
    height="35",
    viewBox="0 0 87.1 66.3"
  )
    title= blog_name
    path(
      d="M85.1,2c-7,27.9-35.6,62.1-64.6,62.1s-20.9-24.7,3.3-14.7c10.6,4.4,15.4,12.9,30,14.9"
    )
