a.Logo(href="/", title="ブログホーム")
  svg.Logo__image(
    role="img",
    xmlns="http://www.w3.org/2000/svg",
    width="72",
    height="36",
    viewBox="0 0 72 36"
  )
    title= blog_name
    path.Logo__path(
      d="M40.81 36C21.03 36 0 30.59 0 20.58C0 10.57 21.03 5.15 40.81 5.15C50.09 5.15 59.04 6.28 66.13 8.29C66.73 8.46 67.32 8.02 67.32 7.39V2C67.32 0.9 68.22 0 69.32 0H72V30.84L70.5 31.42C62.94 34.33 52.12 36 40.81 36Z"
    )
