-
  const INDEX = page_type === 'index'
  const POST = page_type === 'post'
  const TAG = page_type === 'tag'
  const YEAR = page_type === 'year'
  const ARCHIVES = page_type === 'archives'
  const ABOUT = page_type === 'about'
  const title = INDEX ? blog_name : `${page_title} - ${blog_name}`
  const description = INDEX ? blog_description : page_description
  const url = POST
    ? `${blog_url}${archives_base}${page_id}.html`
    : TAG || YEAR
      ? `${blog_url}${archives_base}${String(page_title).toLowerCase().replace(/[ .-]/g, '_')}.html`
      : INDEX
        ? blog_url
        : page_permalink
  const og_image = page_cover ? `${page_cover}?${blog_version}` : `/img/og-image.png?${blog_version}`
  const og_type = INDEX ? 'website' : 'article'

include mixin/post-info

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(
      content="viewport-fit=cover, width=device-width, initial-scale=1",
      name="viewport"
    )
    title= title
    meta(content=description, name="description")
    meta(content=url, property="og:url")
    meta(content=title, property="og:title")
    meta(content=description, property="og:description")
    meta(content=og_image, property="og:image")
    meta(content=og_type, property="og:type")
    meta(content="ja_JP", property="og:locale")
    meta(content="dskd", property="og:site_name")
    link(rel="image_src", href=`/img/og-image.png?${blog_version}`)
    link(
      rel="shortcut icon",
      href=`/favicon.ico?${blog_version}`,
      type="image/x-icon"
    )
    link(rel="icon", href=`/favicon.svg?${blog_version}`, type="image/svg+xml")
    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href=`/img/apple-touch-icon.png?${blog_version}`
    )
    link(
      href=`/css/style.css?${blog_version}`,
      rel="stylesheet",
      media="only screen"
    )
    link(href="/feed", rel="alternate", type="application/rss+xml")
    link(href=url, rel="canonical")

  body(class=page_type)
    header
      nav
        a(href="/", title="ブログホーム")
          svg(
            role="img",
            xmlns="http://www.w3.org/2000/svg",
            width="72",
            height="36",
            viewBox="0 0 72 36"
          )
            title= blog_name
            path(
              d="M40.81 36C21.03 36 0 30.59 0 20.58C0 10.57 21.03 5.15 40.81 5.15C50.09 5.15 59.04 6.28 66.13 8.29C66.73 8.46 67.32 8.02 67.32 7.39V2C67.32 0.9 68.22 0 69.32 0H72V30.84L70.5 31.42C62.94 34.33 52.12 36 40.81 36Z"
            )

    main
      block contents

    footer
      div
        | このブログは越智（oti / otiext）が作り、
        a(
          href="https://creativecommons.org/licenses/by-nc/4.0/deed.ja",
          rel="license noopener",
          aria-label="このブログはクリエイティブコモンズライセンス、表示−非営利 4.0 国際で提供されています",
          target="_blank"
        ) CC BY-NC
        | の元に公開しています。
      ul
        li
          a(href="/about.html", aria-current=page_type === ABOUT && 'page') dskdとは何か？
        li
          a(href=`${blog_url}${blog_feed}`, target="_blank", rel="noopener") RSS
        li
          a(
            href=`https://twitter.com/${blog_twitter}`,
            target="_blank",
            rel="noopener"
          )= `@${blog_twitter}`
        li
          address
            a(href=`mailto:${blog_address}`)= blog_address
