-
  const title = (page_type === 'index') ? blog_name : page_title + ' - dskd'
  const description = (page_type === 'index') ? blog_description : page_description
  const url = (page_type === 'post') ? `${blog_url}${archives_base}${page_id}.html` : (page_type === 'tag' || page_type === 'year') ? `${blog_url}${archives_base}${page_title.toLowerCase().replace(/[ .-]/g, '_')}.html` : ((page_type === 'index')) ? blog_url : page_permalink
  const og_image = page_cover ? `${page_cover}?${blog_version}` : `/img/blog-cover.png?${blog_version}`
  const og_type = (page_type === 'index') ? 'website' : 'article'

include mixin/timestamp
include mixin/tagging
include mixin/tag-list
include mixin/year-list
include mixin/subscribe-list
include mixin/contribute
include mixin/social
include mixin/neighbor
doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(
      content="viewport-fit=cover, width=device-width, initial-scale=1",
      name="viewport"
    )
    title= title
    meta(content=description, name="description")
    meta(content=url, property="og:url")
    meta(content=page_title, property="og:title")
    meta(content=description, property="og:description")
    meta(content=og_image, property="og:image")
    meta(content=og_type, property="og:type")
    meta(content="ja_JP", property="og:locale")
    meta(content="dskd", property="og:site_name")
    link(href=url, rel="canonical")
    link(
      href=`/img/blog-icon.png?${blog_version}`,
      rel="apple-touch-icon-precomposed"
    )
    link(href="/feed", rel="alternate", type="application/rss+xml")
    link(
      href=`/css/style.css?${blog_version}`,
      rel="stylesheet",
      media="only screen"
    )

  body(class=page_type)
    .container
      .space
      header.header
        .header__item
          h1.logo
            a.logo__link(href="/", title="ブログホーム")
              svg.logo__icon(
                role="img",
                xmlns="http://www.w3.org/2000/svg",
                width="45",
                height="35",
                viewBox="0 0 87.1 66.3"
              )
                title= blog_name
                path(
                  d="M85.1,2c-7,27.9-35.6,62.1-64.6,62.1s-20.9-24.7,3.3-14.7c10.6,4.4,15.4,12.9,30,14.9"
                )
        .header__item
          nav.nav
            h2.visuallyHidden サイトナビ
            ul.nav__list
              li.nav__item
                a.nav__link(
                  class=page_type === 'archives' && '-current',
                  href="/archives/",
                  aria-current=page_type === 'archives' && 'page'
                ) 全記事一覧
              li.nav__item
                a.nav__link(
                  class=page_type === 'about' && '-current',
                  href="/about.html",
                  aria-current=page_type === 'about' && 'page'
                ) dskdとは何か？

      .space.-h60

      main.contents
        block contents

      .space

      .border

      .space

      footer.footer
        h2.visuallyHidden サイトフッター
        .author
          | 管理者は
          address.author__address: a(href='mailto:' + blog_address) 越智
          | です
        ul.subinfo
          li.subinfo__item
            a(
              href='/' + blog_feed,
              aria-label="このブログのRSS",
              target="_blank",
              rel="noopener"
            ) RSS
          li.subinfo__item
            a(
              href="https://creativecommons.org/licenses/by-nc/4.0/deed.ja",
              rel="license noopener",
              aria-label="このブログはクリエイティブコモンズライセンス、表示−非営利 4.0 国際で提供されています",
              target="_blank"
            )
              small.license CC BY-NC

      .space
