- var page_permalink

if page_type === 'post'
  - page_permalink = blog_url+archives_base+page_id+'.html'
else if page_type === 'index'
  - page_permalink = blog_url
  - page_title = blog_name
  - page_description = blog_description
else if page_type === 'archives'
  - page_permalink = blog_url+archives_base
else if page_type === 'about'
  - page_permalink = blog_url+'about.html'
else if page_type === 'tag'
  - page_permalink = blog_url+archives_base+page_title.toLowerCase().replace(/[ .-]/g, '_')+'.html'
  - page_description = page_title+'カテゴリの記事一覧'
else if page_type === 'year'
  - page_permalink = blog_url+archives_base+page_title+'.html'
  - page_description = page_title+'年公開の記事一覧'
else if page_type === 'demo-index'
  - page_permalink = blog_url+demo_base
else if page_type === 'demo'
  - page_permalink = blog_url+demo_base+page_id+'.html'

if (!page_cover || page_cover === '')
  - page_cover = '/img/blog-cover.png'


include mixin/timestamp
include mixin/tagging
include mixin/tag-list
include mixin/year-list
include mixin/subscribe-list
include mixin/contribute
include mixin/social
include mixin/neighbor
doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(content='viewport-fit=cover, width=device-width, initial-scale=1' name='viewport')
    title= (page_type === 'index') ? page_title : page_title+title_suffix
    meta(content=page_description, name='description')
    meta(content=page_permalink, property='og:url')
    meta(content=page_title, property='og:title')
    meta(content=page_description, property='og:description')
    meta(content=page_cover, property='og:image')
    meta(content='article', property='og:type')
    meta(content='ja_JP', property='og:locale')
    meta(content='dskd', property='og:site_name')
    link(href=page_permalink, rel='canonical')
    link(href='/img/blog-icon.png?v='+blog_version, rel='apple-touch-icon-precomposed')
    link(href='/feed', rel='alternate', type='application/rss+xml')
    link(href='/css/style.css?v='+blog_version, rel='stylesheet', media='only screen')

  body(class= page_type)
    .container
      .space
      header.header(role='banner')
        if page_type === 'post'
          .header__item
            p.logo
              a.logo__link(href='/', title='ブログホーム')
                svg.logo__icon(role='img', xmlns='http://www.w3.org/2000/svg',version='1.1',  width='45', height='35' viewBox='0 0 87.1 66.3')
                  title= blog_name
                  path(d='M85.1,2c-7,27.9-35.6,62.1-64.6,62.1s-20.9-24.7,3.3-14.7c10.6,4.4,15.4,12.9,30,14.9')
        else
          .header__item
            h1.logo
              a.logo__link(href='/', title='ブログホーム')
                svg.logo__icon(role='img', xmlns='http://www.w3.org/2000/svg',version='1.1',  width='45', height='35' viewBox='0 0 87.1 66.3')
                  title= blog_name
                  path(d='M85.1,2c-7,27.9-35.6,62.1-64.6,62.1s-20.9-24.7,3.3-14.7c10.6,4.4,15.4,12.9,30,14.9')
        .header__item
          nav.nav(role='navigation')
            ul.nav__list
              li.nav__item
                a.nav__link(class=(page_type === 'archives') && '-current', href='/archives/', aria-current=(page_type === 'archives') && "page") 全記事一覧
              li.nav__item
                a.nav__link(class=(page_type === 'about') && '-current', href='/about.html', aria-current=(page_type === 'about') && "page") dskdとは何か？

      .space.-h60

      main.contents(role='main')
        block contents

      .space

      .border

      .space

      footer.footer(role='contentinfo')
        h2.visuallyHidden サイトフッター
        div.author
          | 管理者は
          address.author__address: a(href='mailto:'+blog_address) 越智
          | です
        ul.subinfo
          li.subinfo__item
            a(href='/'+blog_feed, aria-label='このブログのRSS', target='_blank', rel='noopener') RSS
          li.subinfo__item
            a(href='https://creativecommons.org/licenses/by-nc/4.0/deed.ja', rel='license noopener', aria-label='このブログはクリエイティブコモンズライセンス、表示−非営利 4.0 国際で提供されています', target='_blank')
              small.license CC BY-NC

      .space
