//- _demo.pug
//-
-
  const url = `${blog_url}${demo_base}${page_id}.html`
  const related = `${blog_url}${archives_base}${related_id}.html`
doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(content='width=device-width', name='viewport')
    meta(content=url, property='og:url')
    meta(content=page_title, property='og:title')
    meta(content=page_description, property='og:description')
    meta(content='/img/blog-cover.png', property='og:image')
    meta(content='article', property='og:type')
    meta(content='ja_JP', property='og:locale')
    meta(content='dskd', property='og:site_name')
    title= `${page_title}${title_suffix}`
    link(href=url, rel='canonical')

  body
    != contents

    if !no_footer
      style.
        .demo-footer {
          display: flex;
          align-items: center;
          padding: 1em;
          background-color: #f1f2f3
        }
        .demo-footer__item {
          margin: 0;
          font-size: smaller;
        }
        .demo-footer__item + .demo-footer__item::before {
          content: "|";
          margin: 0 1em;
        }
      footer.demo-footer
        small.demo-footer__item
          | published by
          a(href='/') dskd
          | on
          time(datetime= `${page_datetime}+09:00`)= page_datetime.substring(0,10)
        if related_id
          p.demo-footer__item
            | related to
            a(href= related)= related
