extends default

block contents
  -
    const heading = INDEX ? '最近の記事' : page_description
    const posts = INDEX
        ? archives.slice(0,5) //- indexでは5件出力だけ出力する
        : ARCHIVES
          ? archives
          : TAG
            ? tags[page_title]
            : YEAR
              ? years[page_title]
              : []

  section
    h2= heading
    ul
      each post in posts
        li
          a(href=`${archives_base}${post.page_id}.html`)= post.page_title
          +post-info(post.page_datetime, post.page_tag)

    if page_type === INDEX
      nav
        a(href=`${archives_base}`) 全ての記事

  nav
    h2 年別
    ol(reversed)
      each year, i in Object.keys(years).sort((a, b) => b.localeCompare(a))
        li
          a(
            class=page_title === Number(year) && '-current',
            href=`${archives_base}${year}.html`,
            aria-current=page_title === Number(year) && 'page'
          )= year

    h2 タグ別
    ul
      each tag, i in Object.keys(tags).sort((a, b) => a.localeCompare(b))
        li
          a(
            class=page_title === tag && '-current',
            href=`${archives_base}${tag.toLowerCase().replace(/[ .-]/g, '_')}.html`,
            aria-current=page_title === tag && 'page'
          )= tag
