//- _post.pug
//- 個別記事用テンプレート
extends default

block contents
  article.post
    footer.post__footer
      .post__timestamp
        +timestamp(page_datetime)
      .post__tag
        span.visuallyHidden タグ
        +tagging(page_tag, page_type)

    header.post__header
      h1.post__title= page_title

    .post__body
      != contents

    nav.post__external.border(aria-label="ソースとSNSシェアリンク")
      +contribute(`${post_contribute}${page_id}.md`)
      +social(page_title, `${blog_url}${archives_base}${page_id}.html`)

  +neighbor(neighbors[page_id].newer, neighbors[page_id].older, archives_base)
