//- _post.pug
//- 個別記事用テンプレート
extends default

block contents
  article.post
    footer.post__footer
      .post__timestamp
        +timestamp(page_datetime)
      .post__tag
        span.visuallyHidden この記事につけられたタグ
        +tagging(page_tag, page_type)

    header.post__header
      h1.post__title= page_title

    .post__body
      != contents

    .space.-h15

    .border

    .space

    aside.post__external
      h2.visuallyHidden この記事にGitHubでパッチを送る
      +contribute(`${post_contribute}${page_id}.md`)

    aside.post__external
      h2.visuallyHidden この記事をSNSでシェア
      +social(page_title, `${blog_url}${archives_base}${page_id}.html`)

  .space

  .border

  .space

  +neighbor(neighbors[page_id].newer, neighbors[page_id].older, archives_base)
