-
  const isHome = type === T_HOME
  const isPage = type === T_PAGE
  const isPost = type === T_POST
  const isTag = type === T_TAG
  const isYear = type === T_YEAR
  const isArchive = type === T_ARCHIVE
  const metaTitle = isHome ? BLOG_NAME : `${title} - ${BLOG_NAME}`
  const description = isHome
    ? BLOG_DESC
    : isArchive
    ? "dskd の全記事一覧"
    : isTag
    ? `${title}タグの記事一覧`
    : isYear
    ? `${title}年の記事一覧`
    : desc
  const canonical = isHome
    ? BLOG_URL
    : isPage
    ? `${BLOG_URL}${U_PAGE}${id}.html`
    : isPost
    ? `${BLOG_URL}${U_POST}${id}.html`
    : isTag
    ? `${BLOG_URL}${U_TAG}${title.toLowerCase().replace(/[ .-]/g, "_")}.html`
    : isYear
    ? `${BLOG_URL}${U_YEAR}${title}.html`
    : BLOG_URL

  const ogImage = cover ? cover : `${BLOG_OGP}`

include mixin/publish

doctype html
html.-no-js(lang="ja")
  head
    meta(charset="UTF-8")
    meta(content="viewport-fit=cover, width=device-width", name="viewport")
    title= metaTitle
    meta(content=description, name="description")
    link(rel="image_src", href=`${ogImage}?${version}`)
    link(rel="icon", href=`${BLOG_FAVICON}?${version}`, type="image/svg+xml")
    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href=`${BLOG_TOUCH_ICON}?${version}`
    )
    link(
      href=`/style/style.css?${version}`,
      rel="stylesheet",
      media="only screen"
    )
    link(href=U_FEED, rel="alternate", type="application/rss+xml")
    link(href=canonical, rel="canonical")
    include _script

  body
    header.Header
      if isPost || isPage
        nav
          include _logo
      else
        h1
          include _logo
      details.Mode
        summary カラーモード
        form#Switch
          label
            input(name="switch", type="radio", value="-system")
            span OS
          label
            input(name="switch", type="radio", value="-light")
            span ライト
          label
            input(name="switch", type="radio", value="-dark")
            span ダーク

    main
      block main

    footer.Border
      .Halve
        ul.Pages
          each page in pages
            - const cr = id === page.id;
            li
              a(
                href=`${U_PAGE}${page.id}.html`,
                class=cr && "-current",
                aria-current=cr && "page",
                rel=cr && "author"
              )= page.title
          li
            a(href=`${BLOG_URL}${U_FEED}`, target="_blank") RSS

        p.License
          span © #{BLOG_AUTHOR}
          a(
            href="https://creativecommons.org/licenses/by-nc/4.0/deed.ja",
            rel="license"
          ) CC BY-NC

      .Nav.Halve
        button#Back.BackButton
          span(aria-hidden="true") #
          | back

        a(href="#top")
          span(aria-hidden="true") #
          | top
