-
  const HOME = type === "home"
  const POST = type === "post"
  const TAG = type === "tag"
  const YEAR = type === "year"
  const ARCHIVES = type === "archives"
  const ABOUT = type === "about"
  const blog_name = "dskd"
  const blog_url = "https://dskd.jp"
  const blog_description = "dskd はウェブ制作にまつわる雑記を主としたウェブログです。"
  const blog_author = "越智"
  const blog_address = "otiext@gmail.com"
  const blog_feed = "/feed"
  const blog_twitter = "dskd_jp"
  const contribute = "https://github.com/oti/dskd/blob/master/src/md/post/"
  const archives_base = "/archives/"
  const posts_base = ""
  const tags_base = "tags/"
  const years_base = "years/"
  const metaTitle = HOME ? blog_name : `${title} - ${blog_name}`
  const description = HOME
    ? blog_description
    : ARCHIVES
      ? "全記事一覧"
      : TAG
        ? `${title}タグの記事一覧`
        : YEAR
          ? `${title}年の記事一覧`
          : desc
  const url = POST
    ? `${blog_url}${archives_base}${posts_base}${id}.html`
    : TAG
      ? `${blog_url}${archives_base}${tags_base}${String(title).toLowerCase().replace(/[ .-]/g, "_")}.html`
      : YEAR
        ? `${blog_url}${archives_base}${years_base}${String(title).toLowerCase().replace(/[ .-]/g, "_")}.html`
        : HOME
          ? blog_url
          : page_permalink
  const og_image = cover ? `${cover}?${version}` : `/image/og-image.webp?${version}`

include mixin/publish

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(content="viewport-fit=cover, width=device-width", name="viewport")
    title= metaTitle
    meta(content=description, name="description")
    link(rel="image_src", href=og_image)
    link(rel="icon", href=`/favicon.svg?${version}`, type="image/svg+xml")
    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href=`/image/apple-touch-icon.webp?${version}`
    )
    link(
      href=`/style/style.css?${version}`,
      rel="stylesheet",
      media="only screen"
    )
    link(href="/feed", rel="alternate", type="application/rss+xml")
    link(href=url, rel="canonical")
    script.
      document.addEventListener("DOMContentLoaded", () => {
        const HTML = document.documentElement;
        const SWITCH = document.querySelector("#Switch");
        const MODE_LIST = [...SWITCH.querySelectorAll(`[name="switch"]`)].map((elem) => elem.value);

        function updateMode(value) {
          localStorage.setItem("prefer-dskd-mode", value);
          HTML.classList.remove(...MODE_LIST);
          HTML.classList.add(value);
        }

        SWITCH.addEventListener(
          "change",
          ({ target }) => {
            updateMode(target.value);
          },
          false
        );

        const preferModeName = localStorage.getItem("prefer-dskd-mode");
        const initModeName = MODE_LIST.includes(preferModeName) ? preferModeName : MODE_LIST[0];
        updateMode(initModeName);
        SWITCH.querySelector(`[value="${initModeName}"]`).setAttribute("checked", true);
      });

  body
    header.Header
      if POST || ABOUT
        nav
          include _logo
      else
        h1
          include _logo
      details.Mode
        summary ダーク/ライト
        form#Switch
          label
            input(name="switch", type="radio", value="-dark")
            span ダーク
          label
            input(name="switch", type="radio", value="-light")
            span ライト
          label
            input(name="switch", type="radio", value="-system")
            span システム

    main
      block main

    footer.Border
      .Halve
        ul.Pages
          each page in pages
            - const ABOUT = id === page.id
            li
              a(href=`${page.dist}${page.id}.html`, class=ABOUT && "-current", aria-current=ABOUT && "page", rel=ABOUT && "author")= page.title
          li
            a(href=`${blog_url}${blog_feed}`, target="_blank", rel="noopener") RSS
          //- li
            a(
              href=`https://twitter.com/${blog_twitter}`,
              target="_blank",
              rel="noopener"
            )= `@${blog_twitter}`
          //- li
            address
              a(href=`mailto:${blog_address}`)= blog_address

        p.License
          span © 越智
          a(
            href="https://creativecommons.org/licenses/by-nc/4.0/deed.ja",
            rel="license",
          ) CC BY-NC

      p.Border
        a.Pagetop(href="#top") ページの先頭へ
