-
  const INDEX = page_type === 'index'
  const POST = type === 'post'
  const TAG = page_type === 'tag'
  const YEAR = page_type === 'year'
  const ARCHIVES = page_type === 'archives'
  const ABOUT = page_type === 'about'
  const title = INDEX ? blog_name : `${title} - ${blog_name}`
  const description = INDEX ? blog_description : desc
  const url = POST
    ? `${blog_url}${archives_base}${posts_base}${id}.html`
    : TAG
      ? `${blog_url}${archives_base}${tags_base}${String(title).toLowerCase().replace(/[ .-]/g, '_')}.html`
      : YEAR
        ? `${blog_url}${archives_base}${years_base}${String(title).toLowerCase().replace(/[ .-]/g, '_')}.html`
        : INDEX
          ? blog_url
          : page_permalink
  const og_image = cover ? `${cover}?${version}` : `/img/og-image.png?${version}`

include mixin/publish

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(content="viewport-fit=cover, width=device-width", name="viewport")
    title= title
    meta(content=description, name="description")
    link(rel="image_src", href=og_image)
    link(rel="icon", href=`/favicon.svg?${version}`, type="image/svg+xml")
    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href=`/img/apple-touch-icon.png?${version}`
    )
    link(
      href=`/css/style.css?${version}`,
      rel="stylesheet",
      media="only screen"
    )
    link(href="/feed", rel="alternate", type="application/rss+xml")
    link(href=url, rel="canonical")
    script.
      document.addEventListener("DOMContentLoaded", () => {
        const HTML = document.documentElement;
        const SWITCH = document.querySelector("#Switch");
        const MODE_LIST = [...SWITCH.querySelectorAll("[name='switch']")].map((elem) => elem.value);

        function updateMode(value) {
          localStorage.setItem("prefer-dskd-mode", value);
          HTML.classList.remove(...MODE_LIST);
          HTML.classList.add(value);
        }

        SWITCH.addEventListener(
          "change",
          ({ target }) => {
            updateMode(target.value);
          },
          false
        );

        const preferModeName = localStorage.getItem("prefer-dskd-mode");
        const initModeName = MODE_LIST.includes(preferModeName) ? preferModeName : MODE_LIST[0];
        updateMode(initModeName);
        SWITCH.querySelector(`[value="${initModeName}"]`).setAttribute("checked", true);
      });

  body
    header.Header
      if POST || ABOUT
        nav
          include _logo
      else
        h1
          include _logo
      details.Mode
        summary モードの変更
        form#Switch
          label
            input(name="switch", type="radio", value="-system")
            span OSの設定に従う
          label
            input(name="switch", type="radio", value="-light")
            span ライトに固定する
          label
            input(name="switch", type="radio", value="-dark")
            span ダークに固定する

    main
      block contents

    footer.Border
      p.License
        | このブログは越智（oti / otiext）が作り、
        a(
          href="https://creativecommons.org/licenses/by-nc/4.0/deed.ja",
          rel="license noopener",
          target="_blank"
        ) CC BY-NC（クリエイティブコモンズライセンス、表示−非営利 4.0 国際）
        | の元に公開しています。

      ul.Pages
        li
          a(href="/about.html", aria-current=id === "about" && "page")= `${blog_name}とは何か？`
        li
          a(href=`${blog_url}${blog_feed}`, target="_blank", rel="noopener") RSS
        li
          a(
            href=`https://twitter.com/${blog_twitter}`,
            target="_blank",
            rel="noopener"
          )= `@${blog_twitter}`
        li
          address
            a(href=`mailto:${blog_address}`)= blog_address

      p.Border
        a.Pagetop(href="#top") ページの先頭へ
