doctype xml
rss(
  version="2.0",
  xmlns:atom="http://www.w3.org/2005/Atom",
  xmlns:content="http://purl.org/rss/1.0/modules/content/",
  xmlns:creativeCommons="http://blogs.law.harvard.edu/tech/creativeCommonsRssModule"
)
  channel
    title= BLOG_NAME
    link= U_BLOG
    description= `<![CDATA[${BLOG_DESC}]]>`
    language ja-JP
    pubdate= new Date()
    lastbuilddate= new Date()
    docs http://blogs.law.harvard.edu/tech/rss
    generator= BLOG_AUTHOR_EN
    managingeditor
    webmaster= `${BLOG_AUTHOR} ${BLOG_ADDRESS}`
    atom:link(href=`${BLOG_URL}${U_FEED}`, rel="self", type="application/rss+xml")/
    creativeCommons:license https://creativecommons.org/licenses/by-nc/4.0/deed.ja

    each post, i in posts
      item
        title= post.title
        link= `${BLOG_URL}${U_POST}${post.id}.html`
        description= post.desc
        pubdate= new Date(post.datetime)
        guid(isPermaLink="true")= `${BLOG_URL}${U_POST}${post.id}.html`
        //- content:encoded=('<![CDATA['+post.marked+']]>')
