extends default

block main
  -
    const heading = HOME ? '最近の記事' : desc
    const items = HOME
        ? posts.slice(0,5) //- indexでは5件だけ出力する
        : ARCHIVES
          ? posts
          : TAG
            ? tags[title]
            : YEAR
              ? years[title]
              : []

  section.Border
    h2(class=HOME ? "Invisible" : "Primary")= heading
    ul.Posts
      each item in items
        li
          a(href=`${archives_base}${posts_base}${item.id}.html`)= item.title
          +publish(item.datetime, item.tag, title)

    if HOME
      p.More
        a(href=`${archives_base}${posts_base}`) 全ての記事

  section.Border
    h2.Secondary.Invisible 年
    ol.Pages(reversed)
      each year, i in Object.keys(years).sort((a, b) => b.localeCompare(a))
        li
          a(
            class=title === Number(year) && "-current",
            href=`${archives_base}${years_base}${year}.html`,
            aria-current=title === Number(year) && "page"
          )= year

  section.Space
    h2.Secondary.Invisible タグ
    ul.Pages
      each tag, i in Object.keys(tags).sort((a, b) => a.localeCompare(b))
        li
          a(
            class=title === tag && "-current",
            href=`${archives_base}${tags_base}${tag.toLowerCase().replace(/[ .-]/g, '_')}.html`,
            aria-current=title === tag && "page"
          )= tag
