extends default

block contents
  -
    const heading = INDEX ? '最近の記事' : desc
    const posts = INDEX
        ? archives.slice(0,5) //- indexでは5件だけ出力する
        : ARCHIVES
          ? archives
          : TAG
            ? tags[title]
            : YEAR
              ? years[title]
              : []

  section.Border
    h2(class=INDEX ? "Invisible" : "Primary")= heading
    ul.Posts
      each post in posts
        li
          a(href=`${archives_base}${posts_base}${post.id}.html`)= post.title
          +publish(post.datetime, post.tag, title)

    if INDEX
      p.More
        a(href=`${archives_base}${posts_base}`) 全ての記事

  section.Border
    h2.Secondary 年別
    ol.Pages(reversed)
      each year, i in Object.keys(years).sort((a, b) => b.localeCompare(a))
        li
          a(
            class=title === Number(year) && "-current",
            href=`${archives_base}${years_base}${year}.html`,
            aria-current=title === Number(year) && "page"
          )= year

  section.Border
    h2.Secondary タグ別
    ul.Pages
      each tag, i in Object.keys(tags).sort((a, b) => a.localeCompare(b))
        li
          a(
            class=title === tag && "-current",
            href=`${archives_base}${tags_base}${tag.toLowerCase().replace(/[ .-]/g, '_')}.html`,
            aria-current=title === tag && "page"
          )= tag
