extends default

block main
  -
    const escaped_title = encodeURIComponent(title)
    const escaped_permalink = encodeURIComponent(`${blog_url}${posts_dir}${id}.html`)
    const tw_href = `https://twitter.com/intent/tweet?text=${escaped_title}&url=${escaped_permalink}&via=dskd_jp&related=otiext`
    const fb_href = `https://www.facebook.com/share.php?u=${escaped_permalink}`
    const hb_href = `http://b.hatena.ne.jp/my/add.confirm?title=${escaped_title}&url=${escaped_permalink}`

  article.Post.Border
    h1= title

    +publish(datetime, tag, null)

    != marked

  .Border
    .Halve
      ul.Share
        li
          a(href=tw_href) Twitter
        li
          a(href=fb_href) Facebook
        li
          a(href=hb_href) はてブ

      ul.Contribute
        li
          a(href=`${contribute}${id}.md`) GitHub

  .Border
    ul.Neighbor
      if newer
        li
          a(href=`${posts_dir}${newer.id}.html`)= newer.title
          span （ひとつ未来）
      if older
        li
          a(href=`${posts_dir}${older.id}.html`)= older.title
          span （ひとつ過去）
