extends default

block main
  -
    const escaped_title = encodeURIComponent(title)
    const escaped_permalink = encodeURIComponent(`${BLOG_URL}${U_POST}${id}.html`)
    const x_href = `https://x.com/intent/tweet?text=${escaped_title}&url=${escaped_permalink}&via=dskd_jp&related=otiext`
    const fb_href = `https://www.facebook.com/share.php?u=${escaped_permalink}`
    const hb_href = `http://b.hatena.ne.jp/my/add.confirm?title=${escaped_title}&url=${escaped_permalink}`

  article.Post.Border
    h1= title

    +publish(datetime, tag, null)

    != marked

  .Border
    .Halve
      ul.Share
        li
          a(href=x_href) Xでポスト
        li
          a(href=fb_href) Facebookでシェア
        li
          a(href=hb_href) はてブする

      ul.Contribute
        li
          a(href=`${BLOG_CONTRIBUTE}${id}.md`) GitHub

  .Border
    ul.Neighbor
      if newer
        li
          a(href=`${U_POST}${newer.id}.html`)= newer.title
          span （ひとつ未来）
      if older
        li
          a(href=`${U_POST}${older.id}.html`)= older.title
          span （ひとつ過去）
