doctype xml
rss(
  version="2.0",
  xmlns:atom="http://www.w3.org/2005/Atom",
  xmlns:content="http://purl.org/rss/1.0/modules/content/",
  xmlns:creativeCommons="http://blogs.law.harvard.edu/tech/creativeCommonsRssModule"
)
  channel
    title dskd
    link https://dskd.jp
    description= "<![CDATA[dskd はウェブ制作にまつわる雑記を主としたウェブログです。]]>"
    language ja-JP
    pubdate= new Date()
    lastbuilddate= new Date()
    docs http://blogs.law.harvard.edu/tech/rss
    generator oti
    managingeditor
    webmaster 越智 otiext@gmail.com
    atom:link(href="https://dskd.jp/feed", rel="self", type="application/rss+xml")/
    creativeCommons:license https://creativecommons.org/licenses/by-nc/4.0/deed.ja

    each post, i in posts
      item
        title= post.title
        link= `https://dskd.jp${post.dist}${post.id}.html`
        description= post.desc
        pubdate= new Date(post.datetime)
        guid(isPermaLink="true")= `https://dskd.jp${post.dist}${post.id}.html`
        //- content:encoded=('<![CDATA['+post.marked+']]>')
