//- _social.pug
mixin social(title, permalink)
  - var escaped_title = encodeURIComponent(title)
  - var escaped_permalink = encodeURIComponent(permalink)
  - var tw_href = 'https://twitter.com/intent/tweet?text='+escaped_title+'&url='+escaped_permalink+'&via=dskd_jp&related=o_ti"'
  - var fb_href = 'https://www.facebook.com/share.php?u='+escaped_permalink
  - var hb_href = 'http://b.hatena.ne.jp/my/add.confirm?title='+escaped_title+'&url='+escaped_permalink

  ul.social
    li.social__item
      a.social__link(href= tw_href, aria-label='この記事をツイートする', onclick="window.open(this.href, 'share_twitter_window', 'width=450, height=258, menubar=no, toolbar=no, scrollbars=yes'); return false;")
        svg.social__icon(role='img', xmlns='http://www.w3.org/2000/svg', version='1.1', width='30', height='30', viewBox='0 0 512 512')
          path(d='m 492.25513,109.45554 c -17.3837,7.71137 -36.06909,12.9208 -55.67589,15.26445 20.0108,-11.99704 35.3839,-30.99434 42.6228,-53.63232 -18.7327,11.11108 -39.4783,19.17684 -61.5611,23.52394 C 399.95964,75.77025 374.76533,64 346.88243,64 c -53.5354,0 -96.94214,43.40248 -96.94214,96.93794 0,7.59797 0.85714,14.99749 2.51021,22.09224 -80.56685,-4.04233 -151.99913,-42.63701 -199.810355,-101.2874 -8.34549,14.31707 -13.12595,30.97071 -13.12595,48.73712 0,33.63331 17.1137,63.30462 43.12683,80.68829 -15.891,-0.50323 -30.83959,-4.8645 -43.9085,-12.12463 -0.009,0.404 -0.009,0.808 -0.009,1.21908 0,46.96827 33.4162,86.14696 77.762265,95.05546 -8.13333,2.2149 -16.697575,3.4009 -25.538725,3.4009 -6.24683,0 -12.31954,-0.6091 -18.23962,-1.7398 12.33607,38.5115 48.137025,66.5411 90.557625,67.32 -33.1771,26.0028 -74.975875,41.5006 -120.395075,41.5006 -7.82503,0 -15.54208,-0.4604 -23.12533,-1.3556 C 62.645325,431.9485 113.60183,448 168.34645,448 c 178.30949,0 275.81908,-147.7158 275.81908,-275.82103 0,-4.20299 -0.097,-8.38234 -0.2835,-12.54044 18.943,-13.66973 35.3769,-30.74154 48.3733,-50.183')
    li.social__item
      a.social__link(href= fb_href, aria-label='この記事をFacebookでシェアする', onclick="window.open(this.href, 'share_facebook_window', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;")
        svg.social__icon(role='img', xmlns='http://www.w3.org/2000/svg', version='1.1', width='30', height='30', viewBox='0 0 512 512')
          path(d='M 350.91219,71.614712 C 340.53238,69.394135 330.69668,67.581123 321.40507,66.175623 312.11313,64.770925 302.0055,64.045698 291.08215,64 c -31.8188,0.13635 -54.79897,7.479112 -68.94053,22.02831 -14.14167,14.54991 -21.07653,35.49043 -20.80449,62.82154 l 0,39.70536 -40.24932,0 0,64.18134 40.24932,0 0,195.26345 78.32293,0 0,-195.26345 57.11046,0 5.43913,-64.18134 -62.54959,0 0,-31.00281 c -0.45338,-8.7929 0.86105,-15.68239 3.94335,-20.66856 3.08201,-4.98552 10.6514,-7.52376 22.70821,-7.61472 4.8157,0.0227 10.41343,0.38559 16.79319,1.0878 6.37942,0.70287 12.38509,1.60939 18.017,2.71955 z')
    li.social__item
      a.social__link(href= hb_href, aria-label='この記事をはてブする', onclick="window.open(this.href, 'add_hatena_window', 'width=960, height=500, menubar=no, toolbar=no, scrollbars=yes'); return false;")
        svg.social__icon(role='img', xmlns='http://www.w3.org/2000/svg', version='1.1', width='30', height='30', viewBox='0 0 512 512')
          path(d='M 64 96 L 64 416 L 212 416 C 252 416 292 404 308 368 C 328 332 320 276 284 252 C 272 244 260 240 248 236 C 276 232 300 212 300 184 C 304 156 296 120 268 108 C 236 96 192 96 160 96 L 64 96 z M 364 96 L 364 308 L 444 308 L 444 96 L 364 96 z M 144 156 C 144 156 188 156 200 160 C 224 168 224 208 196 212 C 188 216 144 216 144 216 L 144 156 z M 144 280 C 144 280 188 280 208 284 C 232 288 240 312 228 332 C 220 348 204 348 188 348 L 144 348 L 144 280 z M 404 328 A 44 44 0 0 0 360 372 A 44 44 0 0 0 404 416 A 44 44 0 0 0 448 372 A 44 44 0 0 0 404 328 z')
