//- _timestamp.pug
mixin timestamp(time)
  -
    const yyyymmdd = time.substring(0,10)
    const yyyy = yyyymmdd.split('-')[0]
    const mm = Number(yyyymmdd.split('-')[1])
    const dd = Number(yyyymmdd.split('-')[2])
  time(datetime= `${time}+09:00`)
    span.visuallyHidden= `${yyyy}年${mm}月${dd}日に投稿`
    span(aria-hidden='true')= yyyymmdd
