//- _layout.jade
//-
doctype html
- var page_permalink
- if(page_type==='entry') {
-   page_permalink = blog_url+archives_base+page_id+'.html'
- } else if(page_type==='index') {
-   page_permalink = blog_url
-   page_title = blog_name
-   page_description = blog_description
- } else {
-   page_permalink = blog_url+arhives_base
- }
include _mixin
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(content='width=device-width', name='viewport')
    title=(page_type==='index') ? page_title : page_title+archives_title_suffix
    meta(content='/img/blog-cover.png', itemprop='image')
    meta(content='Jade -node template engine-', name='generator')
    meta(content=page_description, name='description')
    meta(content=page_permalink, property='og:url')
    meta(content=page_title, property='og:title')
    meta(content=page_description, property='og:description')
    meta(content='/img/blog-cover.png', property='og:image')
    meta(content='article', property='og:type')
    meta(content='ja_JP', property='og:locale')
    meta(content='dskd', property='og:site_name')
    link(href=page_permalink, rel='canonical' itemprop='url')
    link(href='/dist/img/blog-icon.png', rel='apple-touch-icon-precomposed')
    link(href='/feed', rel='alternate', type='application/atom+xml')
    link(href='/css/style.css', rel='stylesheet', media='only screen')
  body
    include ./partial/_global-header
    main.contents
      block contents
    include ./partial/_global-footer
